

<%#= form_tag locations_path, :method => :get do %>
 <!-- <p>
    <%#= text_field_tag :search, params[:search] %>
    <%#= submit_tag "Search Near", :name => nil %>
  </p>
 -->
<%# end %>
<table class="datatable">
  <thead>
    
    <tr>
      <th>Address</th>
      <!-- Hiding lat/long
      <th>Latitude</th>
      <th>Longitude</th> -->
      <th>Neighborhood</th>
      <th>Distance to Key</th>
      <th>Beds</th>
      <th>Bath</th>
      <th>Price</th>
      <th>Taxes</th>
      <th>Realtor Name</th>
      <th>Phone</th>
      <th>Link</th>
      <th>Notes</th>
      <th></th>
      <th></th>
      <th></th>
      
    </tr>
  </thead>
  <tbody>
    
    <% for location in @locations %>
      <% if location.is_key %>
        <tr class="highlight">
      <% else %>
        <tr>
      <% end %>
        <td><%= location.address %></td>
      <!-- Hiding lat/long        
        <td><%#= location.latitude %></td>
        <td><%#= location.longitude %></td> -->
        <td><%= location.neighborhood %></td>
        <td>
          <%# TODO refactor and put in helper %>
          <% location.key_distances.each do |key_distance| %>
            <% if key_distance.key_location %>
              <p><%= key_distance.key_location.address %></p>
              <%[{key_distance.walk_distance=>"walking"},{key_distance.bike_distance=>"biking"},{key_distance.transit_distance=>"transit"},{key_distance.drive_distance=>"driving"}].each do |keyvalue|%>
                <% if keyvalue[0]%><span><%="#{keyvalue[1]}: #{keyvalue[0].round(2)}"%></span><br /><%end%>
              <% end %>
            <% end %>
          <% end %>
          <br />
        </td>
        <td><%= location.beds %></td>
        <td><%= location.baths %></td>
        <td><%= number_to_currency(location.price) %></td>
        <td><%= number_to_currency(location.taxes) %></td>
        <td><%= location.name %></td>
        <td><%= location.phone %></td>
        <td><%= link_to location.link if !location.link.blank?%></td>
        <td><%= location.notes %></td>
        
        <td><%= link_to "Show", location %></td>
        <td><%= link_to "Edit", edit_location_path(location) %></td>
        <td><%= link_to "Destroy", location, :confirm => 'Are you sure?', :method => :delete %></td>
      </tr>
    <% end %>
  </tbody>
    
</table>
  <br /><br />
  <div>
    Keys:
    <% @key_locations.each do |key_location| %>
      <%=key_location.address%> <br />
    <% end %>
  </div><br /><br />
<p><%= link_to "New Location", new_location_path %></p>
