<%= content_for :head do %>
  <script type="text/javascript" charset="utf-8">
    $(function(){
      $(".loc").click(function(){
        var flightPlanCoordinates = [
          new google.maps.LatLng($(self).data("lat"),$(self).data("lng"))
        ];
      var flightPath = new google.maps.Polyline({
        path: flightPlanCoordinates,
        geodesic: true,
        strokeColor: '#FF0000',
        strokeOpacity: 1.0,
        strokeWeight: 2
      });

      flightPath.setMap(map);
      })
    })
  </script>
<% end %>
<% if @group %>
  <h2>Currently viewing <%= @group.name %> locations</h2>
<% else %>
<% end %>
<%= render 'locations/view_by_group' %>

<table class="datatable">
  <thead>
    
    <tr>
      <th></th>
      <th>Address</th>
      <!-- Hiding lat/long
      <th>Latitude</th>
      <th>Longitude</th> -->
      <th>Neighborhood</th>
      <th>Distance to Key</th>
      <th>Beds</th>
      <th>Bath</th>
      <th>Price</th>
      <th>Taxes</th>
      <th>Realtor Name</th>
      <th>Phone</th>
      <th>Link</th>
      <th>Notes</th>
      <th></th>
      <th></th>
      <th></th>
      
    </tr>
  </thead>
  <tbody>
    <% count = 0 %>
    <% for location in @locations %>
      <% count+=1 %>
      <% if location.is_key %>
        <tr class="highlight">
      <% else %>
        <tr>
      <% end %>
      <td><%= count %></td>
      
      <td class="loc loc_<%=location.id%>"><%= location.address %></td>
      <!-- Hiding lat/long        
        <td><%#= location.latitude %></td>
        <td><%#= location.longitude %></td> -->
        <td><%= location.neighborhood %></td>
        <td>
          <% location.key_distances.each do |key_distance| %>
            <% if (key_loc = key_distance.key_location) && key_loc != location %>
              <p><%= key_loc.address %>: 
                 <%# just showing driving distance for now...%>
                <%=key_distance.drive_distance.round(2)  %>
              </p>
            <% end %>
          <% end %>
          <br />
        </td>
        <td><%= location.beds %></td>
        <td><%= location.baths %></td>
        <td><%= number_to_currency(location.price) %></td>
        <td><%= number_to_currency(location.taxes) %></td>
        <td><%= location.name %></td>
        <td><%= location.phone %></td>
        <td><%= link_to location.link if !location.link.blank?%></td>
        <td><%= location.notes %></td>
        
        <td><%= link_to "Show", location %></td>
        <td><%= link_to "Edit", edit_location_path(location) %></td>
        <td><%= link_to "Destroy", location, :confirm => 'Are you sure?', :method => :delete %></td>
      </tr>
    <% end %>
  </tbody>
    
</table>
  <br /><br />
  <div>
    <%= image_tag("http://google.com/mapfiles/kml/paddle/grn-blank.png") %>
    Keys:
    <% @key_locations.each do |key_location| %>
      <%=key_location.address%> <br />
    <% end %>
  </div><br /><br />
<p><%= link_to "New Location", new_location_path %></p>
