<div id="map-canvas"></div>
<!--
<ul>
<%# for location in @location.nearbys(10) %>
  <li><%#= link_to location.address, location %> (<%#= location.distance.round(2) %> miles)</li>
<%# end %>
</ul>
-->
<p>
  <strong>Address:</strong>
  <%= @location.address %>
</p>

<p>
  <strong>neighborhood:</strong>
  <%= @location.neighborhood %>
</p>

<p>
  <strong>beds:</strong>
  <%= @location.beds %>
</p>

<p>
  <strong>baths:</strong>
  <%= @location.baths %>
</p>

<p>
  <strong>taxes:</strong>
  <%= @location.taxes %>
</p>
<h2>Realtor</h2>
<p>
  <strong>name:</strong>
  <%= @location.name %>
</p>

<p>
  <strong>phone:</strong>
  <%= @location.phone %>
</p>

<p>
  <strong>link:</strong>
  <%= @location.link %>
</p>

<p>
  <strong>notes:</strong>
  <%= @location.notes %>
</p>

<% @location.images.each do |image| %>
  <span><%= link_to image_tag(image.url),image.url, target: "_blank" %></span>
<% end %>


<p>
  <%= link_to "Edit", edit_location_path(@location) %> |
  <%= link_to "Destroy", @location, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", locations_path, "data-no-turbolink"=>true %>
</p>
<%= render "locations/view_by_group" %>
<% if @group %>
  <h2>Listing is in group <%= @group.name %></h2>
<% else %>
<% end %>

