<!DOCTYPE html>
<html>
<head>
  <title>Rhodeguide</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>

  <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <style type="text/css">
      html { height: 100% }
      body { height: 100%; margin: 0; padding: 0 }
      #map-canvas { height: 50% }
    </style>
    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyARK8bc7O2RwO0m4uXdsKXPFNAG5v4ndic&sensor=true">
    </script>
    <script type="text/javascript">
      $(function(){
        $('.datatable').dataTable({})
      })
    </script>
    <%if defined?(@locations)%>
      <script type="text/javascript" charset="utf-8">
        var marker_array = new Array();
        var marker_title_array = new Array();
        var marker_price_array = new Array();
        var marker_link_array = new Array();
        var marker_key_distance_array = new Array();
        

        <%count = 0%>
        <%@locations.each do |loc|%>
          <%next if loc.latitude.blank?%>
          <%count+=1%>
          var marker_<%=count%> = new google.maps.LatLng(<%=loc.latitude%>,<%=loc.longitude%>);
          marker_array.push(marker_<%=count%>)
          marker_title_array.push("<%=loc.address%>")
          marker_price_array.push("<%=loc.price%>")
          <%if KeyLocation.first%>
            marker_key_distance_array.push("<%=loc.distance_to_key.round(2) rescue nil%> mi")
          <%end%>
          marker_link_array.push("<a href='/locations/<%=loc.id%>/' target='_blank'>View</a>")
          
        <%end%>
        var marker;
        var map;

      // Drop animation
        function drop() {
          for (var i =0; i < marker_array.length; i++) {
            setTimeout(function() {
              addMarkerMethod();
            }, i * 50);
          }
        }

        // Toggle bounce
        function toggleBounce() {

          if (marker.getAnimation() != null) {
            marker.setAnimation(null);
          } else {
            marker.setAnimation(google.maps.Animation.BOUNCE);
          }
        }

      function initialize() {
        if(marker_array.length > 0){
          center = marker_array[0]
        } else {
          center = new google.maps.LatLng(41.82, 71.42)
        }
        console.log(center);
        var mapOptions = {
          zoom: 13,
          mapTypeId: google.maps.MapTypeId.ROADMAP,
          center: center
        };

        map = new google.maps.Map(document.getElementById('map-canvas'),
                mapOptions);
        if(marker_array.length > 0){
          for (var i = 0; i < marker_array.length; i++) {
            // set up content bubble
            var contentString = '<div id="content">'+
              '<div id="siteNotice"><b>Address:</b></div><div>'+marker_title_array[i]+'</div>'+
              '<div><b>Price:</b></div><div>'+marker_price_array[i]+
              '</div><div id="bodyContent">'+
              <%if KeyLocation.first%>
              '<div><b>Distance to <%=KeyLocation.first.location.address%></b></div>'+marker_key_distance_array[i]+
              <%end%>
              '<div><b>Link</b></div>'+marker_link_array[i]+
              '</div>'+
              '</div>';
            var infowindow = new google.maps.InfoWindow({
              content: contentString
            });
            marker = new google.maps.Marker({
              map:map,
              draggable:true,
              animation: google.maps.Animation.DROP,
              position: marker_array[i],
              title: marker_title_array[i]
            });
            add_click_event(marker,infowindow)
          };
        }
      }
      function add_click_event(marker,infowindow){
        google.maps.event.addListener(marker, 'click', function() {
            infowindow.open(map,marker);
          });
      }
      google.maps.event.addDomListener(window, 'load', initialize);

    </script>
  <%end%> <%# if defined locations%>

</head>
<body>
  <%= render "layouts/messages" %>

  
  <%= yield %>
  

</body>
</html>
